<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>

		<style>
			.button-container {
				width: 60vw;
			}
			
			button {
				width: calc((60vw - 10px)/3);
				height: auto;
				font-size: 20px !important;
				font-weight: bold !important;
			}

			.row {
				padding: 10px 0px;
				width: 80vw;
				margin: 0;
			}
		</style>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron text-center">
				<h1>Please select which room you would like to navigate to</h1>
			</div>
			<div class="button-container d-block mx-auto">
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" onclick="window.location.href='/drive/1'">Bed 1</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-success" onclick="window.location.href='/drive/2'">Bed 2</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-info" onclick="window.location.href='/drive/3'">Waiting Room</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" onclick="window.location.href='/drive/1'">Bed 3</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-success" onclick="window.location.href='/drive/2'">Bed 4</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-info" onclick="window.location.href='/drive/3'">Bed 5</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" onclick="window.location.href='/drive/1'">Bed 6</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-success" onclick="window.location.href='/drive/2'">Bed 7</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-info" onclick="window.location.href='/drive/3'">Bed 8</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" onclick="window.location.href='/drive/1'">Bed 9</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-success" onclick="window.location.href='/drive/2'">Bed 10</button>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-info" onclick="window.location.href='/drive/3'">Home Base</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
