<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>

		<style>
			.button-container {
				width: 60vw;
			}
			
			button {
				font-size: 20px !important;
				font-weight: bold !important;
				width: calc((60vw - 10px)/3);
			}
		</style>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron text-center">
				<h1>Please select which operation you would like the robot to perform</h1>
			</div>
			<div class="button-container mx-auto d-block">
				<button class="btn btn-primary" onclick="window.location.href='./drive'">Drive To</button>
				<button class="btn btn-primary" onclick="window.location.href='./door'">Open Door</button>
				<button class="btn btn-primary" onclick="window.location.href='./video'">Video Library</button>
			</div>
		</div>
	</body>
</html>
