<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title></title>

		<style>
			.button-container {
				width: 60vw;
			}
			
			button {
				width: calc((60vw - 10px)/3);
				height: auto;
				font-size: 20px !important;
				font-weight: bold !important;
			}

			.row {
				padding: 10px 0px;
				width: 80vw;
				margin: 0;
			}
		</style>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron text-center">
				<h1>Please select a video from our catalogue</h1>
			</div>
			<div class="button-container d-block mx-auto">
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" onclick="window.location.href='/video/1'">Getting an MRI Video</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
